body {
  background-image: url(lights1.jpg); font-family: cursive;
}

p {width: fit-content;
    height: fit-content;
    background-color:goldenrod;
  }

h1 {background-color:goldenrod;
font-family:"lucida handwriting",cursive;
font: size 60px;
color:black;
border: 5px, solid;
width: 230px;
height: fit-content;
position: fixed;right: 42%;
}
h2 {
  font-family:"lucida handwriting",cursive;
  font: size 25px;
  font-weight: 300;
  color: red;
  margin: auto;
  width: 80%;
  padding: 10px;
}

div {background-color: rgba(218, 165, 32, 0.626);
  font-family:cursive;
  font-size:20px;
  border: 5px solid;
  margin: auto;
  width: 50%;
  padding: 10px;
}
.product{
  position:relative
  overflow-y: scroll;
  height: 400px;
  min-width: 25%; max-width: 25%;}
