
body {
  background-image: url(lights1.jpg); font-family: cursive;
}

p {width: fit-content;
    height: fit-content;
    background-color:goldenrod;
  }

h1 {background-color:goldenrod;
font-family:"lucida handwriting",cursive;
font: size 60px;
color:black;
border: 5px, solid;
width: 230px;
height: fit-content;
position: fixed;right: 42%;
}

h2 {
  font-family:"lucida handwriting",cursive;
  font: size 25px;
  font-weight: 300;
  color: rgb(24, 88, 24);
  margin: auto;
  width: 80%;
  padding: 10px;
}

div {background-color: rgba(218, 165, 32, 0.626);
  font-family:cursive;
  font-size:20px;
  border: 5px solid;
  margin: auto;
  padding: 10px;
}

.product{
  overflow-y: scroll;
  height: 550px;
  min-width: 25%; max-width: 40%;
  } 

  p {font-size: 18px;
    font-family: sans-serif;
    font-weight: 300;
    background-color: rgba(24, 88, 24, 0.815);
  

  }

  .shelf {
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  @media (max-width:500px) 
{
  .shelf {flex-direction: column;}
  .product {max-width: 90%;}
}
